@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900");
@font-face {
  font-family: "Lemon Jelly";
  src: url("../fonts/LemonJellyPersonalUse-dEqR.ttf");
}

body,
html {
  background-color: #f0f2f5;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 100vh;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  color: #44525f;
}

.brand-logo {
  font-family: "Lemon Jelly";
  font-size: 100px;
  color: #007bff;
  margin-top: 0px;
  margin-bottom: 5px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2d385e;
}

a:focus {
  outline: none;
  text-decoration: none;
}

h3 {
  font-family: "Titillium Web", sans-serif;
  color: #2d385e;
}

a,
a:hover,
a:focus {
  color: #4f77ff;
}

.btn-primary {
  background-color: #4f77ff;
  border-color: #4f77ff;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #486ff2;
  border-color: #486ff2;
}

.sc-register .btn.btn-lg {
  border-radius: 3px;
  box-shadow: 0px 2px 3px #9c9c9c;
}

.sc-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sc-panel-left {
  background-color: rgba(38, 43, 72, 0.92);
  color: #ffffff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 3px 6px #1d2030;
  box-shadow: 0px 3px 6px #1d2030;
}

.sc-panel-right {
  background-color: #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px 0px #1d2030;
  box-shadow: 0px 2px 6px 0px #1d2030;
}

.sc-register,
.sc-panel-left .brand-col {
  height: 500px;
}
.sc-panel-left .brand-col {
  display: table;
  width: 100%;
  padding: 25px;
}

.sc-panel-left .brand-col .headline {
  display: table-cell;
  vertical-align: middle;
}

.sc-register {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.sc-panel {
  padding: 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.sc-panel .sc-heading {
  margin-bottom: 30px;
}

.sc-register .sc-title {
  font-weight: 700;
}

.sc-register .sc-panel.active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.panel-register {
  margin-top: 20px;
}

.panel-register .form-control,
.panel-signup .form-control {
  background-color: #fff;
  color: #333333;
  font-size: 18px;
  height: 50px;
  margin-bottom: 20px;
  padding: 12px 22px;
  border-radius: 3px;
  border: solid 1px #bcc2ce;
  outline: none;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1),
    0 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.panel-register .form-control:focus,
.panel-signup .form-control:focus {
  border-color: #4f77ff;
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.pwdMask {
  position: relative;
}

.pwdMask .pwd-toggle {
  color: #cccccc;
  position: absolute;
  z-index: 2;
}

.panel-register .pwdMask .pwd-toggle,
.panel-signup .pwdMask .pwd-toggle {
  top: 15px;
  right: 15px;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus {
  cursor: pointer;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle.fa-eye {
  color: #4f77ff;
}

.panel-signup .term-policy a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .sc-panel {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .sc-panel-left,
  .sc-panel-right {
    box-shadow: none;
  }

  .sc-panel-left {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .sc-panel-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .sc-panel-left .brand-col {
    height: 200px;
    text-align: center;
  }

  .term-policy {
    font-size: 75%;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .sc-register .sc-panel {
    padding: 20px;
  }
}

@media (max-width: 320px) {
  .sc-register {
    height: 480px;
  }
  .sc-heading p {
    font-size: 14px;
  }
}
